{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="{% static './assets/images/favicon.png' %}" type="image/gif" sizes="64x64">
    <link rel="shortcut icon" href="{% static './assets/images/favicon.png' %}" type="image/gif" sizes="64x64">
    <link rel="apple-touch-icon" href="{% static './assets/images/favicon.png' %}" type="image/gif">
    <!-- Google Font CDN -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static './assets/css/signup-login.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <title>Signup | E-Health Care</title>
</head>

<body>
    <section>
        <div class="container">
            <div class="row custom-shadow">
                <div
                    class="col-12 col-sm-12 col-md-12 col-lg-5 login-first-parent text-light d-flex align-items-center">
                    <div>
                        <a href="{% url 'app:home' %}">
                            <img src="{% static './assets/images/logo.svg' %}" width="65%" class="img-fluid mb-5 mx-auto d-block"
                                alt="" srcset="">
                        </a>
                        <h3 class="custom-red mt-5">Sign-up</h3>
                        <h4>Welcome to E-Health Care !</h4>
                        <p>Sign up and help us to provide you our best services</p>
                        <p class="mt-custom text-center">Already have an account?<a href="{% url 'users:login' %}"
                                class="text-decoration-none text-info"> Login</a> Now!</p>
                    </div>
                </div>
                <div class="col-12  col-sm-12 col-md-12 col-lg-7 d-flex align-items-center">
                    <form action="{% url 'users:signup' %}" class="w-100 mx-4" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row ">
                            <div class="col-12 col-md-6 col-lg-6 mt-3">
                                <label class="form-label">First Name</label>
                                <input type="text" class="form-control" placeholder="First Name" aria-label="Username" name="first_name" value="{{ first_name }}">
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 mt-3">
                                <label class="form-label">Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name" aria-label="Last Name" name="last_name" value="{{ last_name }}">
                            </div>
                        </div>
                        <!-- <div class="my-3">
                            <label class="form-label">Email address</label>
                            <input type="email" class="form-control" placeholder="yourmail@gmail.com"
                                aria-describedby="emailHelp">
                            <div class="form-text text-danger">We'll never share your email with anyone else.
                            </div> -->
                        <!-- </div> --> 

                            <!-- demo  Start-->
                            <div class="row ">
                                <div class="col-12 col-md-6 col-lg-6 mt-3">
                                    <label class="form-label">Username</label>
                                    <input type="text" class="form-control" placeholder="Username" value="{{ username }}" aria-describedby="User Name" name="username">
                                    <div class="form-text text-danger">{{ message_from_username }}</div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6 mt-3">
                                    <label class="form-label">Email address</label>
                                    <input type="email" class="form-control" placeholder="yourmail@gmail.com" value="{{ email }}" aria-describedby="emailHelp" name="email">
                                    <div class="form-text text-danger">{{ message_from_email }}</div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6 mt-3">
                                    <label class="form-label">Phone Number</label>
                                    <input type="number" class="form-control" placeholder="01xxxxxxxxx" aria-label="Last Name" name="phone">
                                </div>
                            </div>
                            <!-- Demo end  -->


                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" placeholder="********" class="form-control" name="password1">
                            <div class="form-text text-danger">{{ message_from_password }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" placeholder="********" class="form-control" name="password2">
                            <div class="form-text text-danger">{{ message_from_password }}
                            </div>
                        </div>
                        <!-- image upload -->
                        <div class="mb-3">
                            <label class="form-label">Upload Image</label><br>
                            <input type='file' onchange="readURL(this);" name="image"/>
                            <img id="blah" style="max-width: 180px;"/>
                            <!-- <div class="form-text text-danger">We'll never share your email with anyone else.
                            </div> -->
                           
                        </div>
                        <!-- image upload -->
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                            <label class="form-check-label" for="exampleCheck1">I read and agree to all the <a
                                    class="text-decoration-none" href="">Terms</a>
                                and <a class="text-decoration-none" href="">Privacy Policy</a>
                            </label>
                        </div>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="submit" class="btn btn-custom-red w-50 ">Sign-up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
     <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

</body>

</html>